/* For Webkit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;  /* Hides scrollbar for IE (RIP) and Edge */
    overflow-y: scroll;
}

html {
    scrollbar-width: none;     /* Hides scrollbar for Firefox */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #1a1a1a;
    color: #f5f5f5;
    line-height: 1.6;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background-color: #242424;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    max-width: 1200px;
    margin: 0 auto;
    top: 0;
    z-index: 1000;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4caf50;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.logo a:hover {
    color: #76ff7a;
}

/* Navigation Styling */
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li {
    position: relative;
    list-style: none;
}

.nav-links a {
    font-size: 1rem;
    color: #f5f5f5;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s ease-in-out;
    min-width: 150px;
    display: inline-block; 
    text-align: center;
}

.nav-links a:hover {
    background-color: #4caf50;
    color: #fff;
}

/* Dropdown Menu Styling */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    background-color: #333;
    padding-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: 1000;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-content li {
    padding: 0;
    border-bottom: 1px solid #76ff7a;
}

.dropdown-content a {
    display: block;
    font-size: 1rem;
    color: #f5f5f5;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    text-align: left;
    position: relative;
}

.dropdown-content a:hover {
    background-color: #4caf50;
}

.dropdown-content {
    width: auto; 
    min-width: 150px;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: #f5f5f5;
    transition: all 0.3s ease;
}

/* Hamburger Animation */
.hamburger.open div:nth-child(1) {
    transform: translate(0, 8px) rotate(-45deg)
}

.hamburger.open div:nth-child(2) {
    opacity: 0;
}

.hamburger.open div:nth-child(3) {
    transform: translate(0, -8px) rotate(45deg);
}

.container {
    cursor: pointer;
}

/* Intro Section */
.intro {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #1a1a1a, #333);
}

.intro h1 {
    font-size: 2.5rem;
    animation: fadeIn 1.2s ease-out;
}

.intro p {
    font-size: 1.2rem;
    margin: 15px 0;
    animation: fadeIn 1.8s ease-out;
}

/* Action Buttons */
.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 2rem;
}

.action-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.get-in-touch {
    background-color: #4caf50;
    color: white;
}

.get-in-touch:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.cv-button {
    background-color: #4caf50;
    color: white;
}

.cv-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#lastUpdated {
    font-size: 0.8rem;
    color: #888; 
    margin-top: -5px;
    text-align: center;
}

/* Services Section */
.services {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 30px 20px;
}

.services h2 {
    font-size: 2.2rem;
    margin-bottom: 30px;
    color: #4caf50;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #242424;
    padding: 20px;
    border-radius: 8px;
    width: 280px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin-bottom: 15px;
    color: #4caf50;
}

/* Featured Projects Section */
.featured-projects {
    padding: 30px 20px;
    text-align: center;
}

.featured-projects h2 {
    font-size: 2.2rem;
    color: #4caf50;
    margin-bottom: 30px;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    text-align: center;
    width: 300px;
}

.project iframe {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project img {
    width: 75%;
    border-radius: 8px;
}

.project h3 {
    color: #4caf50;
    margin-top: 0.5rem;
}

.project p {
    color: #ededed;
    font-size: 0.9rem;
}

.project-link {
    color: #7cc67e;
    text-decoration: none;
    font-weight: bold;
}

/* Social Media Links */
.social-media-div {
    padding: 30px 20px;
    text-align: center;
}

.social-media-div h2 {
    color: #4caf50;
    margin-bottom: 30px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline-block;
}

.social-media a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-media a:hover {
    background-color: #4caf50;
    transform: scale(1.1);
}

.social-media img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

/* Footer */
footer {
    padding: 10px 0;
    background-color: #242424;
    text-align: center;
    font-size: 0.9rem;
}

footer p {
    color: #aaa;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-links li a.active {
    color: #4caf50;
    font-weight: bold;
    border-bottom: 2px solid #4caf50;
}


/* --------------About me--------------*/
.intro-about {
    text-align: center;
    padding: 20px 20px;
}

.intro-about h1 {
    font-size: 2.5rem;
    animation: fadeIn 1.2s ease-out;
}

.intro-about p {
    font-size: 1.1rem;
    margin: 15px 0;
    animation: fadeIn 1.8s ease-out;
}

.about-container {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Section Titles */
.about-container h1, 
.about-container h2 {
    color: #4caf50;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    transition: color 0.3s ease;
}

.about-container h1:hover,
.about-container h2:hover {
    color: #319435;
}

/* Paragraphs */
.about-container p {
    margin: 1rem 0;
    text-align: justify;
    position: relative;
    overflow: hidden;
}

/* Work Experience */
.work-experience {
    margin: 2rem 0;
    margin: 10px;
}

.work-experience h2 {
    color: #4caf50;
    font-size: 1.6rem;
}

.work-experience article {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-left: 4px solid #4caf50;
    border-radius: 5px;
    transition: 0.3s ease, transform 0.3s ease;
}

.work-experience h3 {
    font-size: 1.3rem;
    color: #ffffff;
}

.work-experience p {
    font-style: italic;
    color: #ffffff;
}

.work-experience ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

.work-experience li {
    margin-bottom: 0.5rem;
    line-height: 1.5;
    color: #ffffff;
}

.work-experience article:hover {
    background: #242424;
    transform: scale(1.02);
}

/* Education Section */
.education {
    margin-top: 25px;
    align-items: center;
}

.education ul {
    list-style: none;
    padding: 0;
}

.education li {
    margin-bottom: 1.5rem;
    border-left: 4px solid #4caf50;
    padding-left: 1rem;
    border-radius: 5px;
    transition: 0.3s ease, transform 0.3s ease;
}

.education li:hover {
    background: #242424;
    transform: scale(1.02);
}

.details {
    font-style: italic;
    color: #6e6e6e;
    transition: color 0.3s ease;
}

/* Hobbies Section */
.hobbies ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5px;
}

.hobbies li {
    flex: 1 1 45%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #319435;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.hobbies li:hover {
    border-color: #4caf50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

/*--------------Skills--------------*/
#introSkills h1{
    color: #4caf50;
    font-weight: 600;
    text-align: center;
    transition: color 0.3s ease;
}

#introSkills h1:hover,
#introSkills h2:hover {
    color: #319435;
}

.skills section {
    margin: 2rem 0;
}

.skills h2 {
    font-size: 1.8rem;
    color: #319435;
    border-bottom: 2px solid #4caf50;
    display: inline-block;
    margin-bottom: 1rem;
}

.skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills li {
    flex: 1 1 30%;
    padding: 1rem;
    background-color: #242424;
    border: 1px solid #4caf50;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #2d2d2d;
}

/*--------------certificates--------------*/
.certificates {
    max-width: 1000px;
    margin: 0 auto;
    background: #242424;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certificates h2 {
    font-size: 1.8rem;
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    transition: color 0.3s ease;
}

.certificates h2:hover {
    color: #319435;
}

.certificates ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.certificates li {
    padding: 0.8rem;
    background: #242424;
    border-left: 4px solid #4CAF50;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificates li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .logo a, .logo a:hover {
        color: #242424;
        pointer-events: none;
    }

    .hamburger {
        display: flex;
        position: absolute;
        top: 20px;
        left: 20px; 
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 1001;
    }

    .hamburger div {
        width: 30px;
        height: 3px;
        background-color: #f5f5f5;
        transition: all 0.3s ease;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 99%;
        right: 0;
        width: 100%;
        align-items: center;
        border-radius: 2px;
        padding: 10px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .nav-links a {
        width: 100%;   
        text-align: center;
    }

    .nav-links.show {
        display: flex;
    }

    .intro h1 {
        font-size: 1.8rem;
    }

    .intro p {
        font-size: 1rem;
    }

    .project {
        margin-top: 20px;
    }

    .action-buttons {
        gap: 10px;
    }

    .card {
        width: 350px;
    }

    /*About me*/
    .intro-about h1 {
        font-size: 1.6rem;
    }

    .intro-about p {
        font-size: 1rem;
    }

    .about-container {
        padding: 1rem;
    }

    .about-container h1,
    .about-container h2 {
        font-size: 1.2rem;
    }

    .work-experience h2,
    .education h2 {
        font-size: 1.2rem;
    }

    .work-experience h3 {
        font-size: 1rem;
    }

    .work-experience article,
    .education li {
        padding: 0.6rem;
    }

    .hobbies li {
        flex: 1 1 100%;
        padding: 0.4rem;
    }

    /*Certs*/
    .certificates {
        max-width: 95%;
        padding: 1.5rem;
    }

    .certificates h2 {
        font-size: 1.6rem;
        margin-bottom: 1.2rem;
    }

    .certificates li {
        padding: 0.6rem;
        font-size: 0.9rem;
    }
}